{% extends 'navbar.html'%}
{% load static%} 
{% block content %}
		
		<!-- End header -->

		<!-- Begin page name -->
		<section class="page-name mb-xs-30 mb-md-30 mb-lg-60">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<h1 class="text-center">FAQs</h1>
					</div>
				</div>
			</div>
			<div class="layer-background lazy" data-src="{% static 'img/slider.png' %}"></div>
			<img src="{% static 'img/lazy.png' %}" class="page-name-img lazy" data-src="{% static 'img/cloud.png' %}" alt="Img">
		</section>
		<!-- End page name -->
		<main class="main-container">
			<section class="faq-section pt-xs-40 pt-md-60 pb-xs-50 pb-md-70 pb-lg-120">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-header mb-xs-30 mb-md-31">
								<p class="h-sub">Here are answers to your questions</p>
								<h2>Frequently Asked Questions</h2>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="accordion-wrap" data-accordion-colection>
										<div class="accordion-block active">
											<div class="accordion-header">
												<p>What are the Qualifications of Teachers?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>All our teachers are qualified and trained in Early Childhood Education. Our head teachers hold a Master’s degree, and all educators are certified and experienced in handling young learners with care and professionalism.</p>
											</div>
										</div>
										<div class="accordion-block">
											<div class="accordion-header">
												<p>How can I get involved in my child’s classroom?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>Parents are encouraged to participate in school activities. Once your child settles in, there will be opportunities to engage through events, celebrations, and school programs conducted throughout the year.</p>
											</div>
										</div>
										<div class="accordion-block">
											<div class="accordion-header">
												<p>What are the school fees?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>Our fee structure is affordable and varies depending on the program. Please contact the school office for detailed information.</p>
											</div>
										</div>
										<div class="accordion-block">
											<div class="accordion-header">
												<p>Do you offer half-day programs?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>Yes, we offer flexible program options including half-day and full-day schedules to suit parents’ needs.</p>
											</div>
										</div>
										<div class="accordion-block faq-to-hide">
											<div class="accordion-header">
												<p>What is the age group for admission?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>We accept children from 2.5 to 6 years, covering Playgroup, Pre-KG, LKG, and UKG.</p>
											</div>
										</div>
										<div class="accordion-block faq-to-hide">
											
											<div class="accordion-header">
												<p>What are the school timings?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>School timings vary by program. Please contact us for the exact schedule based on your child’s class.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="accordion-wrap" data-accordion-colection>
										<div class="accordion-block active">
											<div class="accordion-header">
												<p>What documents are required for admission?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>You will need:</br>
Birth Certificate</br>
Aadhar card</br>
Passport-size photographs</br>
Parent ID proof</br>
Address proof</p>
											</div>
										</div>
										<div class="accordion-block">
											<div class="accordion-header">
												<p>Do you provide food?</p>
												<span class="accordion-ico"></span>
											</div>
											<div class="accordion-content">
												<p>We encourage healthy eating habits. Parents may send nutritious food from home. </p>
											</div>
										</div>
										
										
										
										
									</div>
								</div>
							</div>
							<div class="d-flex justify-content-center mb-lg-90 mb-xs-50">
								<a href="#" class="read-more pt-xs-0 pt-md-20" data-view-more=".faq-to-hide">view more <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none"><path d="M0.505883 5.20577L0.491834 5.2027L6.51423 5.2027L4.62101 7.10009C4.5283 7.19272 4.47745 7.31821 4.47745 7.44992C4.47745 7.58162 4.5283 7.70623 4.62101 7.79909L4.91559 8.09382C5.00823 8.18645 5.13166 8.23767 5.2633 8.23767C5.39501 8.23767 5.51852 8.18682 5.61115 8.09418L8.85649 4.84913C8.94949 4.75613 9.00035 4.63226 8.99998 4.50048C9.00035 4.36796 8.94949 4.24401 8.85649 4.15116L5.61115 0.905818C5.51852 0.813257 5.39508 0.76233 5.2633 0.76233C5.13166 0.76233 5.00823 0.813331 4.91559 0.905818L4.62101 1.20055C4.5283 1.29304 4.47745 1.41655 4.47745 1.54826C4.47745 1.67989 4.5283 1.79689 4.62101 1.88945L6.53559 3.79745L0.499152 3.79745C0.227908 3.79745 -1.94412e-05 4.03123 -1.94175e-05 4.30233L-1.93811e-05 4.71918C-1.93574e-05 4.99028 0.23464 5.20577 0.505883 5.20577Z"></path></svg></a>
							</div>

							<div class="row">
								<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
								
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>

		{% endblock %}